* {
  margin: 0;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins regular.ttf");
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'home-section' 'skills_section' 'exp_section' 'educ_section' 'projects_section' 'about_sect' 'footer_main';
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  font-family: 'Nunito Sans', sans-serif;
}

.title_text {
  color: #57EEA1;
}

.margin-wrapper {
  margin-left: 150px;
  margin-right: 150px;
}

.home-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: home-section;
  height: 550px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 44, 51, 0.6)), to(#393d47ad));
  background: linear-gradient(to bottom right, rgba(41, 44, 51, 0.6), #393d47ad);
  position: relative;
  overflow: hidden;
}

.home-section img {
  z-index: -10;
  position: absolute;
  height: 550px;
  width: 100%;
}

.home-section .navbar {
  position: fixed;
  z-index: 10000;
  height: 60px;
  background: transparent;
  width: 100%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.home-section .navbar .navbar_logo {
  float: left;
  width: 25%;
  margin-top: 14px;
}

.home-section .navbar .navbar_logo a {
  text-decoration: none;
}

.home-section .navbar .navbar_logo h3 {
  font-family: 'Nunito Sans', sans-serif;
  color: #D2D5DD;
  font-size: 1.3em;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-section .navbar .navbar_logo h3:hover {
  color: #45bafc;
}

.home-section .navbar .navbar_logo i {
  margin-left: 10px;
}

.home-section .navbar .navbar_links {
  float: right;
  width: 70%;
  margin-top: 15px;
  text-align: right;
}

.home-section .navbar .navbar_links .hamburger_menu {
  display: none;
}

.home-section .navbar .navbar_links a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  color: #B9C1D0;
  text-decoration: none;
  margin-left: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-section .navbar .navbar_links a:hover {
  color: #E8EBE4;
}

.home-section .navbar .navbar_links .position {
  color: #57EEA1;
}

.home-section .home-section-title {
  -webkit-transform: scale(0);
          transform: scale(0);
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1000;
  margin-top: 160px;
}

.home-section .home-section-title h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 800;
  color: #45bafc;
}

.home-section .home-section-title p {
  margin-top: 30px;
  text-align: center;
  color: #B9C1D0;
  font-size: 1.2em;
}

.home-section .home-section-title button {
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 40px;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  border: 1px solid #d3c7c7;
  background: transparent;
  color: #d3c7c7;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-section .home-section-title button:hover {
  border-color: white;
  background: white;
  color: black;
}

.home-section .home-section-title button i {
  margin-right: 10px;
}

.home-section h4 {
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
  font-size: 4em;
  color: #B9C1D0;
  -webkit-animation: arrowBounce 1s infinite;
          animation: arrowBounce 1s infinite;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.home-section h4:hover {
  color: white;
}

@-webkit-keyframes arrowBounce {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
}

@keyframes arrowBounce {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
}

.skills_section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: skills_section;
  height: 700px;
  margin-top: 30px;
  font-family: 'Nunito Sans', sans-serif;
}

.skills_section .skills_header {
  font-family: 'Nunito Sans', sans-serif;
  border: 1px solid transparent;
}

.skills_section .skills_header h2 {
  text-align: center;
  color: #393d47;
  font-size: 2.2em;
}

.skills_section .skills_header .underline_sect {
  border-bottom: 4px solid #57EEA1;
}

.skills_section .skills_description {
  margin-top: 30px;
}

.skills_section .skills_description p {
  text-align: center;
  color: #393d47;
  font-size: 1.1em;
}

.skills_section .skills_boxes {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'html_box css_box sass_box js_box' 'responsive_box node_box git_box python_box';
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.skills_section .skills_boxes .skill_card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: #fff;
  border: 1px solid #dbdbdb;
  background: #fff;
  border-radius: 6px;
  height: 200px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.skills_section .skills_boxes .skill_card:hover {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.skills_section .skills_boxes .skill_card img {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
}

.skills_section .skills_boxes .skill_card p {
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #393d47;
  font-size: 1em;
  text-align: center;
}

.skills_section .skills_boxes .html_box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: html_box;
}

.skills_section .skills_boxes .css_box {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: css_box;
}

.skills_section .skills_boxes .sass_box {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sass_box;
}

.skills_section .skills_boxes .js_box {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: js_box;
}

.skills_section .skills_boxes .responsive_box {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: responsive_box;
}

.skills_section .skills_boxes .node_box {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: node_box;
}

.skills_section .skills_boxes .git_box {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: git_box;
}

.skills_section .skills_boxes .python_box {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: python_box;
}

.exp_section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: exp_section;
  margin-top: 20px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.exp_section .exp_header {
  font-family: 'Nunito Sans', sans-serif;
  border: 1px solid transparent;
}

.exp_section .exp_header h2 {
  text-align: center;
  color: #393d47;
  font-size: 2.2em;
}

.exp_section .exp_header .underline_sect {
  border-bottom: 4px solid #57EEA1;
}

.exp_section .exp_box_peach {
  margin-top: 40px;
  height: 200px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'exp_img_peach exp_text_peach';
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  grid-gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.exp_section .exp_box_peach .exp_img_peach {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: exp_img_peach;
}

.exp_section .exp_box_peach .exp_img_peach img {
  margin-left: 50px;
  height: 60px;
  width: 200px;
}

.exp_section .exp_box_peach .exp_text_peach {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: exp_text_peach;
  color: #393d47;
}

.exp_section .exp_box_peach .exp_text_peach p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1em;
}

.exp_section .exp_box_peach .exp_text_peach .job_title {
  color: #45bafc;
}

.exp_section .exp_box_1 {
  margin-top: 40px;
  height: 150px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'exp_img1 exp_text1';
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  grid-gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.exp_section .exp_box_1 .exp_img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: exp_img1;
}

.exp_section .exp_box_1 .exp_img1 img {
  margin-left: 50px;
  height: 60px;
  width: 140px;
}

.exp_section .exp_box_1 .exp_text1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: exp_text1;
  color: #393d47;
}

.exp_section .exp_box_1 .exp_text1 p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1em;
}

.exp_section .exp_box_1 .exp_text1 .job_title {
  color: #45bafc;
}

.exp_section .exp_box_2 {
  margin-top: 40px;
  height: 200px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'exp_img2 exp_text2';
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  grid-gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.exp_section .exp_box_2 .exp_img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: exp_img2;
}

.exp_section .exp_box_2 .exp_img2 img {
  margin-left: 50px;
  height: 60px;
  width: 140px;
}

.exp_section .exp_box_2 .exp_text2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: exp_text2;
  color: #393d47;
}

.exp_section .exp_box_2 .exp_text2 p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1em;
}

.exp_section .exp_box_2 .exp_text2 .job_title {
  color: #45bafc;
}

.exp_section .exp_box_3 {
  margin-top: 40px;
  height: 150px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'exp_img3 exp_text3';
  -ms-grid-columns: 30% 1fr;
      grid-template-columns: 30% 1fr;
  grid-gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.exp_section .exp_box_3 .exp_img3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: exp_img3;
}

.exp_section .exp_box_3 .exp_img3 img {
  height: 100px;
  width: 100%;
}

.exp_section .exp_box_3 .exp_text3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: exp_text3;
  color: #393d47;
}

.exp_section .exp_box_3 .exp_text3 p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1em;
}

.exp_section .exp_box_3 .exp_text3 .job_title {
  color: #45bafc;
}

.exp_section .exp_title {
  font-size: 1.2em;
  margin-top: 0px;
}

.educ_section {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: educ_section;
  margin-top: 50px;
  height: 620px;
}

.educ_section .educ_header {
  font-family: 'Nunito Sans', sans-serif;
  border: 1px solid transparent;
}

.educ_section .educ_header h2 {
  text-align: center;
  color: #393d47;
  font-size: 2.2em;
}

.educ_section .educ_header .underline_sect {
  border-bottom: 4px solid #57EEA1;
}

.educ_section .educ_main {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'educ_box1' 'educ_box2';
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
  height: 520px;
  font-family: 'Poppins', sans-serif;
  color: #393d47;
  margin-left: 50px;
  margin-right: 50px;
}

.educ_section .educ_main .educ_box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: educ_box1;
  border-bottom: 1px solid #e6e6e6;
}

.educ_section .educ_main .educ_box1 .educ_box1_content h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.educ_section .educ_main .educ_box1 .educ_box1_content p {
  margin-left: 30px;
  font-size: 1em;
  margin-top: 10px;
  line-height: 25px;
  word-spacing: 2px;
}

.educ_section .educ_main .educ_box2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: educ_box2;
  border-bottom: 1px solid #e6e6e6;
}

.educ_section .educ_main .educ_box2 .educ_box2_content h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.educ_section .educ_main .educ_box2 .educ_box2_content p {
  margin-left: 30px;
  font-size: 1em;
  margin-top: 10px;
  line-height: 25px;
  word-spacing: 2px;
}

.projects_section {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: projects_section;
  margin-top: 30px;
  height: 750px;
  font-family: 'Nunito Sans', sans-serif;
  border-bottom: 1px solid #e6e6e6;
}

.projects_section .project_header {
  font-family: 'Nunito Sans', sans-serif;
  border: 1px solid transparent;
}

.projects_section .project_header h2 {
  text-align: center;
  color: #393d47;
  font-size: 2.2em;
}

.projects_section .project_header .underline_sect {
  border-bottom: 4px solid #57EEA1;
}

.projects_section .project_description {
  margin-top: 30px;
}

.projects_section .project_description p {
  text-align: center;
  color: #393d47;
  font-size: 1.1em;
}

.projects_section .project_main {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'project_box1 project_box2' 'project_box3 project_box4';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  height: 550px;
  font-family: 'Poppins', sans-serif;
}

.projects_section .project_main .proj_box {
  cursor: pointer;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: #fff;
  border: 1px solid #dbdbdb;
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.projects_section .project_main .proj_box:hover {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.projects_section .project_main .proj_box:hover .over-text {
  top: 0%;
}

.projects_section .project_main .proj_box .over-text {
  position: absolute;
  background: rgba(0, 0, 0, 0.696);
  height: 100%;
  width: 100%;
  top: -100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.projects_section .project_main .proj_box .over-text .text_head {
  font-size: 1.2em;
  letter-spacing: 0.8px;
  color: white;
}

.projects_section .project_main .proj_box .over-text p {
  color: #efefef;
  line-height: 30px;
  margin-top: 40px;
  text-align: center;
}

.projects_section .project_main .proj_box img {
  height: 100%;
  width: 100%;
}

.projects_section .project_main .project_box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: project_box1;
}

.projects_section .project_main .project_box2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: project_box2;
}

.projects_section .project_main .project_box3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: project_box3;
}

.projects_section .project_main .project_box4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: project_box4;
}

.about_sect {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: about_sect;
  margin-top: 50px;
  height: 450px;
  border: 1px solid transparent;
  background: #2b2b2b;
}

.about_sect .about_main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'about_img about_info';
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
  grid-gap: 10px;
  margin-top: 40px;
}

.about_sect .about_main .about_img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about_img;
  height: 430px;
}

.about_sect .about_main .about_img img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.about_sect .about_main .about_info {
  height: 430px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: about_info;
  font-family: 'Nunito Sans', sans-serif;
}

.about_sect .about_main .about_info h3 {
  font-size: 1.4em;
  letter-spacing: 1px;
  color: white;
}

.about_sect .about_main .about_info .about_contact {
  margin-top: 30px;
}

.about_sect .about_main .about_info p {
  margin-top: 10px;
  line-height: 30px;
  font-weight: lighter;
  font-size: 1.1em;
  color: #7a7a7a;
}

.footer_main {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer_main;
  height: 400px;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.footer_main .footer_top {
  height: 300px;
  background: #292c33;
  color: #bec6d5;
  border: 1px solid transparent;
  text-align: center;
}

.footer_main .footer_top h2 {
  font-size: 2em;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin-top: 50px;
  color: #45bafc;
}

.footer_main .footer_top .title_text {
  color: #57EEA1;
}

.footer_main .footer_top h3 {
  font-weight: lighter;
  font-size: 1.1em;
  margin-top: 20px;
  line-height: 30px;
}

.footer_main .footer_top .footer_social {
  height: 50px;
  width: 350px;
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer_main .footer_top .footer_social a {
  color: #cecece;
}

.footer_main .footer_top .footer_social i {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 8px;
  margin-right: 10px;
  font-size: 1.8em;
  background: black;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer_main .footer_top .footer_social i:hover {
  background: white;
  color: black;
}

.footer_main .footer_bottom {
  height: 100px;
  background: #1d1e25;
  color: #909db7;
  border: 1px solid transparent;
}

.footer_main .footer_bottom h3 {
  font-size: 1em;
  font-weight: lighter;
  margin-top: 35px;
  text-align: center;
}

.footer_main .footer_bottom .footer_slogan {
  font-size: 0.9em;
  font-style: italic;
  color: #45bafc;
}

@media (min-width: 1px) and (max-width: 900px) {
  .margin-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-section {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: home-section;
    height: 550px;
    position: relative;
    overflow: hidden;
  }
  .home-section img {
    z-index: -10;
    position: absolute;
    height: 550px;
    width: 100%;
  }
  .home-section .navbar {
    position: fixed;
    z-index: 10000;
    height: 60px;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .home-section .navbar .navbar_logo {
    float: left;
    width: 70%;
    margin-top: 14px;
  }
  .home-section .navbar .navbar_logo h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-section .navbar .navbar_logo i {
    margin-left: 10px;
  }
  .home-section .navbar .navbar_links {
    float: right;
    width: 25%;
    margin-top: 16px;
    text-align: right;
  }
  .home-section .navbar .navbar_links .hamburger_menu {
    display: block;
  }
  .home-section .navbar .navbar_links .hamburger_menu i {
    font-size: 1.5em;
    color: #B9C1D0;
  }
  .home-section .navbar .navbar_links a {
    display: none;
    z-index: 1000000;
    position: absolute;
    top: 80px;
    left: 45%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-size: 1.5em;
  }
  .home-section .navbar .navbar_links .exp_link {
    top: 140px;
  }
  .home-section .navbar .navbar_links .edu_link {
    top: 200px;
  }
  .home-section .navbar .navbar_links .proj_link {
    top: 260px;
  }
  .home-section .navbar .navbar_links .about_link {
    top: 320px;
  }
  .home-section .show_navlinks {
    height: 400px;
    background: #17191d;
  }
  .home-section .show_navlinks .navbar_links a {
    display: block;
  }
  .home-section .home-section-title {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 1000;
    margin-top: 160px;
  }
  .home-section .home-section-title h1 {
    font-size: 2em;
  }
  .home-section .home-section-title p {
    margin-top: 30px;
    font-size: 1em;
  }
  .home-section .home-section-title button {
    padding: 4px 8px;
    margin-top: 40px;
    font-size: 0.9em;
    border-radius: 3px;
  }
  .home-section .home-section-title button i {
    margin-right: 10px;
  }
  .home-section h4 {
    left: 50%;
    bottom: 0px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    font-size: 4em;
    -webkit-animation: arrowBounce 1s infinite;
            animation: arrowBounce 1s infinite;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  @-webkit-keyframes arrowBounce {
    0% {
      bottom: 0px;
    }
    50% {
      bottom: 5px;
    }
  }
  @keyframes arrowBounce {
    0% {
      bottom: 0px;
    }
    50% {
      bottom: 5px;
    }
  }
  .skills_section {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: skills_section;
    height: 750px;
    margin-top: 30px;
  }
  .skills_section .skills_header h2 {
    text-align: center;
    color: #393d47;
    font-size: 2em;
  }
  .skills_section .skills_description {
    margin-top: 30px;
  }
  .skills_section .skills_description p {
    font-size: 0.9em;
  }
  .skills_section .skills_boxes {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'html_box css_box' 'sass_box js_box' 'responsive_box node_box' 'git_box python_box';
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .skills_section .skills_boxes .skill_card {
    border-radius: 6px;
    height: 130px;
  }
  .skills_section .skills_boxes .skill_card img {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
  }
  .skills_section .skills_boxes .skill_card p {
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #393d47;
    font-size: 1em;
    text-align: center;
  }
  .exp_section {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: exp_section;
    margin-top: 20px;
    height: 100%;
  }
  .exp_section .exp_box_peach {
    margin-top: 40px;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'exp_img_peach' 'exp_text_peach';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .exp_section .exp_box_peach .exp_img_peach {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: exp_img_peach;
    height: 80px;
  }
  .exp_section .exp_box_peach .exp_img_peach img {
    margin-left: 0px;
    height: 40px;
    width: 100px;
  }
  .exp_section .exp_box_peach .exp_img_peach img {
    width: 180px;
  }
  .exp_section .exp_box_peach .exp_text_peach {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: exp_text_peach;
  }
  .exp_section .exp_box_peach .exp_text_peach p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 0.9em;
  }
  .exp_section .exp_box_1 {
    margin-top: 40px;
    height: 250px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'exp_img1' 'exp_text1';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .exp_section .exp_box_1 .exp_img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: exp_img1;
  }
  .exp_section .exp_box_1 .exp_img1 img {
    margin-left: 0px;
    height: 40px;
    width: 100px;
  }
  .exp_section .exp_box_1 .exp_text1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: exp_text1;
  }
  .exp_section .exp_box_1 .exp_text1 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 0.9em;
  }
  .exp_section .exp_box_2 {
    margin-top: 40px;
    height: 250px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'exp_img2' 'exp_text2';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .exp_section .exp_box_2 .exp_img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: exp_img2;
  }
  .exp_section .exp_box_2 .exp_img2 img {
    margin-left: 0px;
    height: 40px;
    width: 100px;
  }
  .exp_section .exp_box_2 .exp_text2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: exp_text2;
  }
  .exp_section .exp_box_2 .exp_text2 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 0.9em;
  }
  .exp_section .exp_box_3 {
    margin-top: 40px;
    height: 250px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'exp_img3' 'exp_text3';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .exp_section .exp_box_3 .exp_img3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: exp_img3;
  }
  .exp_section .exp_box_3 .exp_img3 img {
    margin-left: 0px;
    height: 60px;
    width: 200px;
  }
  .exp_section .exp_box_3 .exp_text3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: exp_text3;
  }
  .exp_section .exp_box_3 .exp_text3 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 0.9em;
  }
  .exp_section .exp_title {
    font-size: 1em;
    margin-top: 0px;
  }
  .educ_section {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: educ_section;
    margin-top: 50px;
    height: 100%;
  }
  .educ_section .educ_header h2 {
    text-align: center;
    color: #393d47;
    font-size: 2em;
  }
  .educ_section .educ_main {
    margin-top: 30px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'educ_box1' 'educ_box2';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .educ_section .educ_main .educ_box1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: educ_box1;
  }
  .educ_section .educ_main .educ_box1 .educ_box1_content h3 {
    margin-top: 10px;
    font-size: 1.2em;
  }
  .educ_section .educ_main .educ_box1 .educ_box1_content p {
    margin-left: 0px;
    font-size: 0.9em;
    margin-top: 3px;
    line-height: 25px;
    word-spacing: 2px;
  }
  .educ_section .educ_main .educ_box2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: educ_box2;
  }
  .educ_section .educ_main .educ_box2 .educ_box2_content h3 {
    margin-top: 10px;
    font-size: 1.2em;
  }
  .educ_section .educ_main .educ_box2 .educ_box2_content p {
    margin-left: 0px;
    font-size: 0.9em;
    margin-top: 3px;
    line-height: 25px;
    word-spacing: 2px;
  }
  .projects_section {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: projects_section;
    margin-top: 30px;
    height: 100%;
  }
  .projects_section .project_header h2 {
    text-align: center;
    color: #393d47;
    font-size: 2em;
  }
  .projects_section .project_description {
    margin-top: 30px;
  }
  .projects_section .project_description p {
    font-size: 0.9em;
  }
  .projects_section .project_main {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'project_box1' 'project_box2' 'project_box3' 'project_box4';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    height: 1050px;
  }
  .projects_section .project_main .proj_box {
    border-radius: 6px;
    height: 250px;
  }
  .projects_section .project_main .proj_box .over-text {
    position: absolute;
    background: rgba(0, 0, 0, 0.696);
    height: 100%;
    width: 100%;
    top: -100%;
  }
  .projects_section .project_main .proj_box .over-text .text_head {
    font-size: 1.2em;
    letter-spacing: 0.8px;
  }
  .projects_section .project_main .proj_box .over-text p {
    line-height: 30px;
    margin-top: 40px;
  }
  .projects_section .project_main .proj_box img {
    height: 250px;
    width: 100%;
  }
  .about_sect {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: about_sect;
    margin-top: 50px;
    height: 100%;
  }
  .about_sect .about_main {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'about_img' 'about_info';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 20px;
  }
  .about_sect .about_main .about_img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about_img;
    height: 100px;
    position: relative;
  }
  .about_sect .about_main .about_img img {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
  .about_sect .about_main .about_info {
    height: 100%;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: about_info;
  }
  .about_sect .about_main .about_info h3 {
    font-size: 1.1em;
    letter-spacing: 1px;
  }
  .about_sect .about_main .about_info .about_contact {
    margin-top: 30px;
  }
  .about_sect .about_main .about_info p {
    margin-top: 10px;
    line-height: 22px;
    font-size: 0.9em;
  }
  .footer_main {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: footer_main;
    height: 400px;
    position: relative;
  }
  .footer_main .footer_top {
    height: 300px;
  }
  .footer_main .footer_top h2 {
    font-size: 2em;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 50px;
  }
  .footer_main .footer_top h3 {
    font-size: 1em;
    margin-top: 20px;
    line-height: 30px;
  }
  .footer_main .footer_top .footer_social {
    height: 50px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .footer_main .footer_top .footer_social i {
    width: 30px;
    height: 30px;
    padding: 8px;
    margin-right: 10px;
    font-size: 1.8em;
    border-radius: 50%;
  }
  .footer_main .footer_bottom {
    height: 100px;
  }
  .footer_main .footer_bottom h3 {
    font-size: 0.9em;
    margin-top: 35px;
  }
  .footer_main .footer_bottom .footer_slogan {
    font-size: 0.8em;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .margin-wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }
  .educ_section {
    height: 100%;
  }
  .about_sect {
    height: 100%;
  }
}

@media (min-width: 590px) and (max-width: 600px) {
  .educ_section {
    height: 100%;
    margin-top: 0;
  }
  .educ_section .educ_main .educ_box1 .educ_box1_content h3 {
    margin-top: 10px;
    font-size: 1.3em;
  }
  .educ_section .educ_main .educ_box1 .educ_box1_content p {
    margin-left: 0px;
    font-size: 0.9em;
    margin-top: 3px;
    line-height: 30px;
    word-spacing: 2px;
  }
  .educ_section .educ_main .educ_box2 .educ_box2_content h3 {
    margin-top: 10px;
    font-size: 1.3em;
  }
  .educ_section .educ_main .educ_box2 .educ_box2_content p {
    margin-left: 0px;
    font-size: 0.9em;
    margin-top: 3px;
    line-height: 30px;
    word-spacing: 2px;
  }
  .about_sect {
    height: 100%;
  }
  .about_sect .about_main .about_img img {
    height: 120px;
    width: 120px;
  }
  .about_sect .about_main .about_info p {
    font-size: 1em;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .home-section .home-section-title {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 1000;
    margin-top: 160px;
  }
  .home-section .home-section-title h1 {
    font-size: 2.5em;
  }
  .home-section .home-section-title p {
    margin-top: 30px;
    font-size: 1.3em;
  }
  .home-section .home-section-title button {
    padding: 8px 16px;
    margin-top: 40px;
    font-size: 1em;
    border-radius: 3px;
  }
  .skills_section .skills_description p {
    font-size: 1.1em;
  }
  .exp_section {
    height: 100%;
  }
  .exp_section .exp_box_1 .exp_text1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: exp_text1;
    color: #393d47;
  }
  .exp_section .exp_box_1 .exp_text1 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
  }
  .exp_section .exp_box_1 .exp_text1 .job_title {
    color: #45bafc;
  }
  .exp_section .exp_box_2 .exp_text2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: exp_text2;
    color: #393d47;
  }
  .exp_section .exp_box_2 .exp_text2 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
  }
  .exp_section .exp_box_2 .exp_text2 .job_title {
    color: #45bafc;
  }
  .exp_section .exp_box_3 .exp_text3 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: exp_text3;
    color: #393d47;
  }
  .exp_section .exp_box_3 .exp_text3 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
  }
  .exp_section .exp_box_3 .exp_text3 .job_title {
    color: #45bafc;
  }
  .exp_section .exp_title {
    font-size: 1em;
    margin-top: 0px;
  }
  .margin-wrapper {
    margin-left: 70px;
    margin-right: 70px;
  }
  .educ_section {
    height: 100%;
  }
  .educ_section .educ_main .educ_box1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: educ_box1;
  }
  .educ_section .educ_main .educ_box1 .educ_box1_content h3 {
    margin-top: 10px;
    font-size: 1.3em;
  }
  .educ_section .educ_main .educ_box1 .educ_box1_content p {
    margin-left: 0px;
    font-size: 1em;
    margin-top: 3px;
    line-height: 30px;
    word-spacing: 2px;
  }
  .educ_section .educ_main .educ_box2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: educ_box2;
  }
  .educ_section .educ_main .educ_box2 .educ_box2_content h3 {
    margin-top: 10px;
    font-size: 1.3em;
  }
  .educ_section .educ_main .educ_box2 .educ_box2_content p {
    margin-left: 0px;
    font-size: 1em;
    margin-top: 3px;
    line-height: 30px;
    word-spacing: 2px;
  }
  .projects_section .project_description {
    margin-top: 30px;
  }
  .projects_section .project_description p {
    font-size: 1.1em;
  }
  .about_sect {
    height: 100%;
  }
  .about_sect .about_main .about_img img {
    height: 120px;
    width: 120px;
  }
  .about_sect .about_main .about_info p {
    font-size: 1.1em;
  }
}

@media (min-width: 701px) and (max-width: 800px) {
  .margin-wrapper {
    margin-left: 50px;
    margin-right: 50px;
  }
  .home-section {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: home-section;
    height: 550px;
    position: relative;
    overflow: hidden;
  }
  .home-section img {
    z-index: -10;
    position: absolute;
    height: 550px;
    width: 100%;
  }
  .home-section .navbar {
    position: fixed;
    z-index: 10000;
    height: 60px;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .home-section .navbar .navbar_logo {
    float: left;
    width: 70%;
    margin-top: 14px;
  }
  .home-section .navbar .navbar_logo h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-section .navbar .navbar_logo i {
    margin-left: 10px;
  }
  .home-section .navbar .navbar_links {
    float: right;
    width: 25%;
    margin-top: 16px;
    text-align: right;
  }
  .home-section .navbar .navbar_links a {
    display: none;
    z-index: 1000000;
    position: absolute;
    top: 80px;
    left: 46%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-size: 1.5em;
  }
  .home-section .navbar .navbar_links .exp_link {
    top: 140px;
  }
  .home-section .navbar .navbar_links .edu_link {
    top: 200px;
  }
  .home-section .navbar .navbar_links .proj_link {
    top: 260px;
  }
  .home-section .navbar .navbar_links .about_link {
    top: 320px;
  }
  .home-section .home-section-title {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 1000;
    margin-top: 160px;
  }
  .home-section .home-section-title h1 {
    font-size: 2.7em;
  }
  .home-section .home-section-title p {
    margin-top: 30px;
    font-size: 1.3em;
  }
  .home-section .home-section-title button {
    padding: 8px 16px;
    margin-top: 40px;
    font-size: 1.1em;
  }
  .skills_section .skills_description p {
    font-size: 1.2em;
  }
  .exp_section {
    height: 100%;
  }
  .exp_section .exp_box_1 .exp_text1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: exp_text1;
  }
  .exp_section .exp_box_1 .exp_text1 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
  }
  .exp_section .exp_box_2 .exp_text2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: exp_text2;
  }
  .exp_section .exp_box_2 .exp_text2 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
  }
  .exp_section .exp_box_3 .exp_text3 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: exp_text3;
  }
  .exp_section .exp_box_3 .exp_text3 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
  }
  .exp_section .exp_title {
    font-size: 1.1em;
    margin-top: 0px;
  }
  .educ_section {
    height: 100%;
  }
  .educ_section .educ_main .educ_box1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: educ_box1;
  }
  .educ_section .educ_main .educ_box1 .educ_box1_content h3 {
    margin-top: 10px;
    font-size: 1.3em;
  }
  .educ_section .educ_main .educ_box1 .educ_box1_content p {
    margin-left: 0px;
    font-size: 1em;
    margin-top: 3px;
    line-height: 30px;
    word-spacing: 2px;
  }
  .educ_section .educ_main .educ_box2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: educ_box2;
  }
  .educ_section .educ_main .educ_box2 .educ_box2_content h3 {
    margin-top: 10px;
    font-size: 1.3em;
  }
  .educ_section .educ_main .educ_box2 .educ_box2_content p {
    margin-left: 0px;
    font-size: 1em;
    margin-top: 3px;
    line-height: 30px;
    word-spacing: 2px;
  }
  .projects_section {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: projects_section;
    margin-top: 0px;
    height: 100%;
  }
  .projects_section .project_header {
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid transparent;
  }
  .projects_section .project_header h2 {
    text-align: center;
    color: #393d47;
    font-size: 2.2em;
  }
  .projects_section .project_header .underline_sect {
    border-bottom: 4px solid #57EEA1;
  }
  .projects_section .project_description {
    margin-top: 30px;
  }
  .projects_section .project_description p {
    font-size: 1em;
  }
  .projects_section .project_main {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'project_box1 project_box2' 'project_box3 project_box4';
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 100%;
  }
  .projects_section .project_main .proj_box {
    border-radius: 6px;
    height: 250px;
  }
  .projects_section .project_main .proj_box img {
    height: 250px;
    width: 100%;
  }
  .about_sect {
    height: 100%;
  }
  .about_sect .about_main .about_img img {
    height: 130px;
    width: 130px;
  }
  .about_sect .about_main .about_info {
    margin-top: 40px;
  }
  .about_sect .about_main .about_info p {
    font-size: 1.1em;
  }
}

@media (min-width: 901px) and (max-width: 1279px) {
  .margin-wrapper {
    margin-left: 70px;
    margin-right: 70px;
  }
  .home-section {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: home-section;
    height: 550px;
    position: relative;
    overflow: hidden;
  }
  .home-section img {
    z-index: -10;
    position: absolute;
    height: 550px;
    width: 100%;
  }
  .home-section .navbar {
    position: fixed;
    z-index: 10000;
    height: 60px;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .home-section .navbar .navbar_logo {
    float: left;
    width: 30%;
    margin-top: 14px;
  }
  .home-section .navbar .navbar_logo h3 {
    font-size: 1.2em;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-section .navbar .navbar_logo i {
    margin-left: 10px;
  }
  .home-section .navbar .navbar_links {
    float: right;
    width: 65%;
    margin-top: 14px;
    text-align: right;
  }
  .home-section .navbar .navbar_links .hamburger_menu {
    display: none;
  }
  .home-section .navbar .navbar_links a {
    font-size: 1.2em;
  }
  .home-section .home-section-title {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 1000;
    margin-top: 160px;
  }
  .home-section .home-section-title h1 {
    font-size: 3em;
  }
  .home-section .home-section-title p {
    margin-top: 30px;
    font-size: 1.3em;
  }
  .home-section .home-section-title button {
    padding: 8px 16px;
    margin-top: 40px;
    font-size: 1em;
    border-radius: 3px;
  }
  .home-section .home-section-title button i {
    margin-right: 10px;
  }
  .skills_section {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: skills_section;
    height: 450px;
    margin-top: 30px;
  }
  .skills_section .skills_header h2 {
    text-align: center;
    color: #393d47;
    font-size: 2.2em;
  }
  .skills_section .skills_description {
    margin-top: 30px;
  }
  .skills_section .skills_description p {
    font-size: 1.1em;
  }
  .skills_section .skills_boxes {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'html_box css_box sass_box js_box' 'responsive_box node_box git_box python_box';
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .skills_section .skills_boxes .skill_card {
    border-radius: 6px;
    height: 130px;
  }
  .skills_section .skills_boxes .skill_card img {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
  }
  .skills_section .skills_boxes .skill_card p {
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #393d47;
    font-size: 1em;
    text-align: center;
  }
  .exp_section {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: exp_section;
    margin-top: 20px;
    height: 750px;
  }
  .exp_section .exp_box_1 {
    margin-top: 40px;
    height: 180px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'exp_img1 exp_text1';
    -ms-grid-columns: 30% 1fr;
        grid-template-columns: 30% 1fr;
    grid-gap: 0px;
  }
  .exp_section .exp_box_1 .exp_img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: exp_img1;
  }
  .exp_section .exp_box_1 .exp_img1 img {
    margin-left: 0px;
    height: 50px;
    width: 60%;
  }
  .exp_section .exp_box_1 .exp_text1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: exp_text1;
  }
  .exp_section .exp_box_1 .exp_text1 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
  }
  .exp_section .exp_box_2 {
    margin-top: 40px;
    height: 210px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'exp_img2 exp_text2';
    -ms-grid-columns: 30% 1fr;
        grid-template-columns: 30% 1fr;
    grid-gap: 0px;
  }
  .exp_section .exp_box_2 .exp_img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: exp_img2;
  }
  .exp_section .exp_box_2 .exp_img2 img {
    margin-left: 0px;
    height: 50px;
    width: 60%;
  }
  .exp_section .exp_box_2 .exp_text2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: exp_text2;
  }
  .exp_section .exp_box_2 .exp_text2 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
  }
  .exp_section .exp_box_3 {
    margin-top: 40px;
    height: 180px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'exp_img3 exp_text3';
    -ms-grid-columns: 30% 1fr;
        grid-template-columns: 30% 1fr;
    grid-gap: 0px;
  }
  .exp_section .exp_box_3 .exp_img3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: exp_img3;
  }
  .exp_section .exp_box_3 .exp_img3 img {
    margin-left: 0px;
    height: 60px;
    width: 100%;
  }
  .exp_section .exp_box_3 .exp_text3 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: exp_text3;
  }
  .exp_section .exp_box_3 .exp_text3 p {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1em;
  }
  .exp_section .exp_title {
    font-size: 1.2em;
    margin-top: 0px;
  }
  .educ_section {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: educ_section;
    margin-top: 50px;
    height: 630px;
  }
  .educ_section .educ_header h2 {
    text-align: center;
    color: #393d47;
    font-size: 2.2em;
  }
  .educ_section .educ_main {
    margin-top: 30px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'educ_box1' 'educ_box2';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
    height: 520px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .educ_section .educ_main .educ_box1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: educ_box1;
  }
  .educ_section .educ_main .educ_box1 .educ_box1_content h3 {
    margin-top: 10px;
    font-size: 1.3em;
  }
  .educ_section .educ_main .educ_box1 .educ_box1_content p {
    margin-left: 0px;
    font-size: 1em;
    margin-top: 3px;
    line-height: 30px;
    word-spacing: 2px;
  }
  .educ_section .educ_main .educ_box2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: educ_box2;
  }
  .educ_section .educ_main .educ_box2 .educ_box2_content h3 {
    margin-top: 10px;
    font-size: 1.3em;
  }
  .educ_section .educ_main .educ_box2 .educ_box2_content p {
    margin-left: 0px;
    font-size: 1em;
    margin-top: 3px;
    line-height: 30px;
    word-spacing: 2px;
  }
  .projects_section {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: projects_section;
    margin-top: 30px;
    height: 650px;
  }
  .projects_section .project_header h2 {
    text-align: center;
    color: #393d47;
    font-size: 2.2em;
  }
  .projects_section .project_description {
    margin-top: 30px;
  }
  .projects_section .project_description p {
    font-size: 1.2em;
  }
  .projects_section .project_main {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'project_box1 project_box2' 'project_box3 project_box4';
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    height: 500px;
  }
  .projects_section .project_main .proj_box {
    border-radius: 6px;
    height: 250px;
  }
  .projects_section .project_main .proj_box .over-text {
    position: absolute;
    background: rgba(0, 0, 0, 0.696);
    height: 100%;
    width: 100%;
    top: -100%;
  }
  .projects_section .project_main .proj_box .over-text .text_head {
    font-size: 1.2em;
    letter-spacing: 0.8px;
  }
  .projects_section .project_main .proj_box .over-text p {
    line-height: 30px;
    margin-top: 40px;
  }
  .projects_section .project_main .proj_box img {
    height: 250px;
    width: 100%;
  }
  .about_sect {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: about_sect;
    margin-top: 50px;
    height: 580px;
  }
  .about_sect .about_main {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'about_img' 'about_info';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 20px;
  }
  .about_sect .about_main .about_img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about_img;
    height: 170px;
    position: relative;
  }
  .about_sect .about_main .about_img img {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    border-radius: 50%;
    height: 170px;
    width: 170px;
  }
  .about_sect .about_main .about_info {
    height: 430px;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: about_info;
  }
  .about_sect .about_main .about_info h3 {
    font-size: 1.3em;
    letter-spacing: 1px;
  }
  .about_sect .about_main .about_info .about_contact {
    margin-top: 30px;
  }
  .about_sect .about_main .about_info p {
    margin-top: 10px;
    line-height: 30px;
    font-size: 1.1em;
  }
  .footer_main {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: footer_main;
    height: 400px;
    position: relative;
  }
  .footer_main .footer_top {
    height: 300px;
  }
  .footer_main .footer_top h2 {
    font-size: 2em;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 50px;
  }
  .footer_main .footer_top h3 {
    font-size: 1em;
    margin-top: 20px;
    line-height: 30px;
  }
  .footer_main .footer_top .footer_social {
    height: 50px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .footer_main .footer_top .footer_social i {
    width: 30px;
    height: 30px;
    padding: 8px;
    margin-right: 10px;
    font-size: 1.8em;
    border-radius: 50%;
  }
  .footer_main .footer_bottom {
    height: 100px;
  }
  .footer_main .footer_bottom h3 {
    font-size: 1.1em;
    margin-top: 35px;
  }
  .footer_main .footer_bottom .footer_slogan {
    font-size: 1em;
  }
}

@media (min-width: 1150px) and (max-width: 1279px) {
  .margin-wrapper {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 1440px) and (max-width: 1600px) {
  .margin-wrapper {
    margin-left: 170px;
    margin-right: 170px;
  }
  .home-section {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: home-section;
    height: 550px;
    position: relative;
    overflow: hidden;
  }
  .home-section img {
    z-index: -10;
    position: absolute;
    height: 550px;
    width: 100%;
  }
  .home-section .navbar {
    position: fixed;
    z-index: 10000;
    height: 60px;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .home-section .navbar .navbar_logo {
    float: left;
    width: 30%;
    margin-top: 14px;
  }
  .home-section .navbar .navbar_logo h3 {
    font-size: 1.3em;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .home-section .navbar .navbar_logo i {
    margin-left: 10px;
  }
  .home-section .navbar .navbar_links {
    float: right;
    width: 65%;
    margin-top: 14px;
    text-align: right;
  }
  .home-section .navbar .navbar_links .hamburger_menu {
    display: none;
  }
  .home-section .navbar .navbar_links a {
    font-size: 1.3em;
  }
  .home-section .home-section-title {
    position: relative;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 1000;
    margin-top: 160px;
  }
  .home-section .home-section-title h1 {
    font-size: 3em;
  }
  .home-section .home-section-title p {
    margin-top: 30px;
    font-size: 1.4em;
  }
  .home-section .home-section-title button {
    padding: 8px 16px;
    margin-top: 40px;
    font-size: 1em;
    border-radius: 3px;
  }
  .home-section .home-section-title button i {
    margin-right: 10px;
  }
  .skills_section {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: skills_section;
    height: 450px;
    margin-top: 30px;
  }
  .skills_section .skills_header {
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid transparent;
  }
  .skills_section .skills_header h2 {
    text-align: center;
    color: #393d47;
    font-size: 2.2em;
  }
  .skills_section .skills_header .underline_sect {
    border-bottom: 4px solid #57EEA1;
  }
  .skills_section .skills_description {
    margin-top: 30px;
  }
  .skills_section .skills_description p {
    font-size: 1.1em;
  }
  .skills_section .skills_boxes {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'html_box css_box sass_box js_box' 'responsive_box node_box git_box python_box';
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .skills_section .skills_boxes .skill_card {
    border-radius: 6px;
    height: 130px;
  }
  .skills_section .skills_boxes .skill_card img {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
  }
  .skills_section .skills_boxes .skill_card p {
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #393d47;
    font-size: 1em;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */