// SASS STYLESHEET

*{
    margin: 0;
}

// @import url('../assets/css/all.css');

// ############################## VARIABLES ##############################
$borderSettings: 1px solid black;
// $borderSettings: none;
$textColor:#393d47;

// FONTS
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins regular.ttf');
}


// ############################## MIXINS ##############################
// SECTION HEADER
@mixin sectionHeader{
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid transparent;
    h2{
        text-align: center;
        color: $textColor;
        font-size: 2.2em;
    }

    .underline_sect{
        border-bottom: 4px solid #57EEA1;
    }
}

// EXPERIENCE BOX IMG
@mixin expBoxImg {
    img{
        margin-left: 50px;
        height: 60px;
        width: 140px;
    }
}
// EXPERIENCE BOX TEXT
@mixin expBoxText{
    color: $textColor;
    p{
        margin-top: 10px;
        margin-left: 20px;
        font-size: 1em;
    }
}
@mixin educBoxContent {
    h3{
        margin-top: 10px;
        font-size: 1.2em;
    }
    p{
        margin-left: 30px;
        font-size: 1em;
        margin-top: 10px;
        line-height: 25px;
        word-spacing: 2px;
    }
}

// ############################## THE MAGIC ##############################
// GRID CONTAINER
#grid-container{
    display: grid;
    grid-template-areas: 'home-section'
    'skills_section'
    'exp_section'
    'educ_section'
    'projects_section'
    'about_sect'
    'footer_main'
    ;
    grid-template-columns: 1fr;
    font-family: 'Nunito Sans', sans-serif;
}

// TITLE TEXT COLOR
#title_text{
    color: #57EEA1;
}

// MARGIN WRAPPER
.margin-wrapper{
    margin-left: 150px;
    margin-right: 150px;
}

// ############################## HOME SECTION ##############################
#home-section {
    grid-area: home-section;
    height: 550px;
    background: linear-gradient(to bottom right, rgba(41, 44, 51, 0.6), #393d47ad);
    position: relative;
    overflow: hidden;

    img{
        z-index: -10;
        position: absolute;
        height: 550px;
        width: 100%;
    }
    
    // ############################## NAVBAR ##############################
    #navbar{
        position: fixed;
        z-index: 10000;
        height: 60px;
        background: transparent;
        width: 100%;
        transition: all 0.2s;

        // ############################## NAVBAR LOGO ##############################
        #navbar_logo{
            float: left;
            width: 25%;
            margin-top: 14px;

            a{
                text-decoration: none;
            }

            h3{
                font-family: 'Nunito Sans', sans-serif;
                color: #D2D5DD;
                font-size: 1.3em;
                letter-spacing: 1px;
                cursor: pointer;
                transition: all 0.3s;

                &:hover{
                    color: #45bafc;
                }
            }
            i{
                margin-left: 10px;
            }
        }
        // ############################## NAVBAR LINKS ##############################
        #navbar_links{
            float: right;
            width: 70%;
            margin-top: 15px;
            text-align: right;

            #hamburger_menu{
                display: none;
            }

            a{
                font-family: 'Poppins', sans-serif;
                font-size: 1.1em;
                color: #B9C1D0;
                text-decoration: none;
                margin-left: 20px;
                transition: all 0.3s;

                &:hover{
                    color: #E8EBE4;
                }
            }
            .position{
                color: #57EEA1;
            }
        }
    }

    // ############################## HOME SECTION TITLE ##############################
    #home-section-title{
        transform: scale(0);
        position: relative;
        transition: all 1s;
        z-index: 1000;
        margin-top: 160px;

        h1{
            text-align: center;
            text-transform: uppercase;
            font-size: 3em;
            font-weight: 800;
            color: #45bafc;
        }

        p{
            margin-top: 30px;
            text-align: center;
            color: #B9C1D0;
            font-size: 1.2em;
        }

        // CONTACT BUTTON
        button{
            cursor: pointer;
            padding: 8px 16px;
            margin-top: 40px;
            border: none;
            outline: none;
            font-family: 'Poppins', sans-serif;
            font-size: 1.1em;
            border: 1px solid rgb(211, 199, 199);
            background: transparent;
            color: rgb(211, 199, 199);
            border-radius: 3px;
            transition: all 0.3s;

            &:hover{
                // color: white;
                border-color: white;
                background: white;
                color: black;
            }
            i{
                margin-right: 10px;
            }
        }
    }
    h4{
        cursor: pointer;
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translate(-50%,0%);
        text-align: center;
        font-size: 4em;
        color: #B9C1D0;
        animation: arrowBounce 1s infinite;
        transition: all 0.2s;

        &:hover{
            color: white;
        }

        @keyframes arrowBounce {
            0%{
                bottom: 0px;
            }
            50%{
                bottom: 5px;
            }
        }
    }
}

// ############################## SKILLS SECTION ##############################
#skills_section{
    grid-area: skills_section;
    height: 700px;
    margin-top: 30px;
    font-family: 'Nunito Sans', sans-serif;

    // SKILLS SECTION HEADER
    #skills_header{
        @include sectionHeader();
    }

    // SKILLS SECTION DESCRIPTION
    #skills_description{
        margin-top: 30px;
        p{
            text-align: center;
            color: $textColor;
            font-size: 1.1em;
        }
    }

    // SKILLS SECTION BOXES
    #skills_boxes{
        margin-top: 80px;
        display: grid;
        grid-template-areas: 'html_box css_box sass_box js_box'
        'responsive_box node_box git_box python_box'
        ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;

        // SKILLS CARD
        .skill_card{
            box-sizing: border-box;
            position: relative;
            background: #fff;
            border: 1px solid #dbdbdb;
            background: #fff;
            border-radius: 6px;
            height: 200px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
            transition: all 200ms ease;

            &:hover{
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
            }

            img{
                position: absolute;
                left: 50%;
                top: 40%;
                transform: translate(-50%,-50%);
                height: 50px;
                width: 50px;
            }
            p{
                position: absolute;
                left: 50%;
                top: 75%;
                transform: translate(-50%,-50%);
                color: $textColor;
                font-size: 1em;
                text-align: center;
            }
        }

        // HTML BOX
        #html_box{
            grid-area: html_box;
        }
        // CSS BOX
        #css_box{
            grid-area: css_box;
        }
        // SASS BOX
        #sass_box{
            grid-area: sass_box;
        }
        // JAVASCRIPT BOX
        #js_box{
            grid-area: js_box;
        }
        // RESPONSIVE BOX
        #responsive_box{
            grid-area: responsive_box;
        }
        // NODE BOX
        #node_box{
            grid-area: node_box;
        }
        // GIT BOX
        #git_box{
            grid-area: git_box;
        }
        // PYTHON BOX
        #python_box{
            grid-area: python_box;
        }
    }
}

// ############################## EXPERIENCE ##############################
#exp_section{
    grid-area: exp_section;
    margin-top: 20px;
    height: 680px;
    font-family: 'Poppins', sans-serif;

    // EXPERIENCE HEADER
    #exp_header{
        @include sectionHeader();
    }

    // EXPERIENCE BOX 1
    #exp_box_1{
        margin-top: 40px;
        height: 150px;
        display: grid;
        grid-template-areas: 'exp_img1 exp_text1'
        ;
        grid-template-columns: 30% 1fr;
        grid-gap: 20px;
        border-bottom: 1px solid #e6e6e6;

        // IMG 1
        #exp_img1{
            grid-area: exp_img1;
            @include expBoxImg();
        }
    
        // TEXT 1
        #exp_text1{
            grid-area: exp_text1;
            @include expBoxText();
        }
    }    

    // EXPERIENCE BOX 2
    #exp_box_2{
        margin-top: 40px;
        height: 200px;
        display: grid;
        grid-template-areas: 'exp_img2 exp_text2'
        ;
        grid-template-columns: 30% 1fr;
        grid-gap: 20px;
        border-bottom: 1px solid #e6e6e6;

        // IMG 2
        #exp_img2{
            grid-area: exp_img2;
            @include expBoxImg();
        }
    
        // TEXT 2
        #exp_text2{
            grid-area: exp_text2;
            @include expBoxText();
        }
    }

    // EXPERIENCE BOX 3
    #exp_box_3{
        margin-top: 40px;
        height: 150px;
        display: grid;
        grid-template-areas: 'exp_img3 exp_text3'
        ;
        grid-template-columns: 30% 1fr;
        grid-gap: 20px;
        border-bottom: 1px solid #e6e6e6;

        // IMG 3
        #exp_img3{
            grid-area: exp_img3;
            img{
                height: 100px;
                width: 100%;
            }
        }
    
        // TEXT 3
        #exp_text3{
            grid-area: exp_text3;
            @include expBoxText();
        }
    }

    // JOB TITLE
    .exp_title{
        font-size: 1.2em;
        margin-top: 0px;
    }
}

// ############################## EDUCATION SECTION ##############################
#educ_section{
    grid-area: educ_section;
    margin-top: 50px;
    height: 620px;

    // EDUCATION HEADER
    #educ_header{
        @include sectionHeader();
    }

    // EDUCATION MAIN CONTENT
    #educ_main{
        margin-top: 30px;
        display: grid;
        grid-template-areas: 'educ_box1'
        'educ_box2'
        ;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        height: 520px;
        font-family: 'Poppins', sans-serif;
        color: $textColor;
        margin-left: 50px;
        margin-right: 50px;

        // EDUCATION BOX 1
        #educ_box1{
            grid-area: educ_box1;
            border-bottom: 1px solid #e6e6e6;
            // CONTENT BOX
            #educ_box1_content{
                @include educBoxContent();
            }
        }

        // EDUCATION BOX 2
        #educ_box2{
            grid-area: educ_box2;
            border-bottom: 1px solid #e6e6e6;
            // CONTENT BOX
            #educ_box2_content{
                @include educBoxContent();
            }
        }
    }
}

// ############################## PROJECTS SECTION ##############################
#projects_section{
    grid-area: projects_section;
    margin-top: 30px;
    height: 750px;
    font-family: 'Nunito Sans', sans-serif;
    border-bottom: 1px solid #e6e6e6;
    // border: $borderSettings;

    // PROJECTS HEADER
    #project_header{
        @include sectionHeader();
    }

    // PROJECTS DESCRIPTION
    #project_description{
        margin-top: 30px;
        p{
            text-align: center;
            color: $textColor;
            font-size: 1.1em;
        }
    }
    // PROJECTS MAIN SECTION
    #project_main{
        margin-top: 50px;
        display: grid;
        grid-template-areas: 'project_box1 project_box2'
        'project_box3 project_box4'
        ;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        height: 550px;
        font-family: 'Poppins', sans-serif;

        .proj_box{
            cursor: pointer;
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
            background: #fff;
            border: 1px solid #dbdbdb;
            background: #fff;
            border-radius: 6px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
            transition: all 200ms ease;

            &:hover{
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
                .over-text{
                    top: 0%;
                }
            }

            .over-text{
                position: absolute;
                background: rgba(0, 0, 0, 0.696);
                height: 100%;
                width: 100%;
                top: -100%;
                transition: all 1s;

                .text_head{
                    font-size: 1.2em;
                    letter-spacing: 0.8px;
                    color: white;
                }

                p{
                    color: #efefef;
                    line-height: 30px;
                    margin-top: 40px;
                    text-align: center;
                }
            }

            img{
                height: 100%;
                width: 100%;
            }
        }
        // PROJECT BOX 1
        #project_box1{
            grid-area: project_box1;
        }
        // PROJECT BOX 2
        #project_box2{
            grid-area: project_box2;
        }
        // PROJECT BOX 3
        #project_box3{
            grid-area: project_box3;
        }
        // PROJECT BOX 4
        #project_box4{
            grid-area: project_box4;
        }
    }
}

// ######################## ABOUT SECTION ########################
#about_sect{
    grid-area: about_sect;
    margin-top: 50px;
    height: 450px;
    border: 1px solid transparent;
    background: #2b2b2b;

    // ABOUT MAIN SECT
    #about_main{
        display: grid;
        grid-template-areas: 'about_img about_info'
        ;
        grid-template-columns: 20% 1fr;
        grid-gap: 10px;
        margin-top: 40px;

        // ABOUT IMAGE
        #about_img{
            grid-area: about_img;
            height: 430px;
    
            img{
                border-radius: 50%;
                height: 150px;
                width: 150px;
            }
        }

        // ABOUT INFO
        #about_info{
            height: 430px;   
            grid-area: about_info;
            font-family: 'Nunito Sans', sans-serif;

            h3{
                font-size: 1.4em;
                letter-spacing: 1px;
                color: white;
            }
            .about_contact{
                margin-top: 30px;
            }
            p{
                margin-top: 10px;
                line-height: 30px;
                font-weight: lighter;
                font-size: 1.1em;
                color: #7a7a7a;
            }
        }
    }
}

// ######################## FOOTER ########################
#footer_main{
    grid-area: footer_main;
    height: 400px;
    font-family: 'Poppins', sans-serif;
    position: relative;

    // FOOTER TOP SECTION
    #footer_top{
        height: 300px;
        background: #292c33;
        color: #bec6d5;
        border: 1px solid transparent;
        text-align: center;

        h2{
            font-size: 2em;
            letter-spacing: 1px;
            word-spacing: 3px;
            margin-top: 50px;
            color: #45bafc;
        }
        #title_text{
            color: #57EEA1;
        }
        h3{
            font-weight: lighter;
            font-size: 1.1em;
            margin-top: 20px;
            line-height: 30px;
        }
        // FOOTER SOCIAL MEDIA
        #footer_social{
            height: 50px;
            width: 350px;
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%,-50%);

            i{
                cursor: pointer;
                width: 30px;
                height: 30px;
                padding: 8px;
                margin-right: 10px;
                font-size: 1.8em;
                background: black;
                border-radius: 50%;
                transition: all 0.2s;
                &:hover{
                    background: rgb(255, 255, 255);
                    color: black;
                }
            }
        }
    }

    // FOOTER BOTTOM
    #footer_bottom{
        height: 100px;
        background: #1d1e25;
        color: #909db7;
        border: 1px solid transparent;

        h3{
            font-size: 1em;
            font-weight: lighter;
            margin-top: 35px;
            text-align: center;
        }

        // FOOTER SLOGAN
        .footer_slogan{
            font-size: 0.9em;
            font-style: italic;
            color: #45bafc;
        }
    }
}

@import 'responsive';